/* Scrollbar tipis dan halus */
.thin-scroll::-webkit-scrollbar {
    width: 4px;
    /* ketebalan scrollbar */
}

.thin-scroll::-webkit-scrollbar-track {
    background: transparent;
}

.thin-scroll::-webkit-scrollbar-thumb {
    background: #c7c7c7;
    /* warna scrollbar */
    border-radius: 20px;
}